In [ ]:
print("hello")

notes for today

In [ ]:
2+1

In [ ]:
2-1

In [ ]:
2*2

In [ ]:
3/2

In [ ]:
7/4

In [ ]:
7% 4

In [ ]:
50 % 5

In [ ]:
2 ** 3

In [ ]:
 2 + 10 * 10 +3

In [ ]:
(2+10) * )10 +3)

In [ ]:
(2 +10) * (10 +3)

In [ ]:
my_dogs =2

In [ ]:
my_dogs

In [ ]:
user_name = "Resel"

In [ ]:
user_name

In [ ]:
1username = Resel

In [ ]:
 a =5

In [ ]:
a=10

In [ ]:
a = 5

In [ ]:
a

In [ ]:
a = 10

In [ ]:
a

In [ ]:
a+a

In [ ]:
type ()

In [ ]:
type (a)

In [ ]:
 a=30.1

In [ ]:
type (a)

In [ ]:
a =" Resel"

In [ ]:
a

In [3]:
my_name = "Joyal Fernandes"

In [4]:
my_name[-3:0]

''

In [5]:
my_name[10:14]

'ande'

In [6]:
my_name[-1:-5]

''

In [7]:
my_name[-1:-4 ]

''

In [8]:
my_name[8:13]

'rnand'

In [9]:
my_name[2:8:2]

'ylF'

In [ ]:
mystring="Hello World"

In [ ]:
mystring[-3]

In [ ]:
mytest ="tinker"

In [ ]:
mytest[1:4]

In [1]:
name ="Sam"

In [2]:
name[0]

'S'

In [5]:
mystring = "hello"

In [6]:
mystring.upper()

'HELLO'

In [7]:
print("this is a string {}".format("INERTED"))

this is a string INERTED

In [28]:
count =0

In [27]:
if count<10:
    print('count is %d' % (count));
    count+=1
elif count >11:
    print('count is now %d' % (count));
    count-=1
else:
    print(count);

count is 1

For Loop

In [30]:
my_iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [1]:
mylist= [1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in mylist:
    print(num)

1
2
3
4
5
6
7
8
9
10

Print Even number in list

In [40]:
for num in mylist:
    #check for even
    if num%2 ==0:
        print(num)
    else:
        print(f'Odd Numer : {num}')

Odd Numer : 1
2
Odd Numer : 3
4
Odd Numer : 5
6
Odd Numer : 7
8
Odd Numer : 9
10

Sum of every number in the list

In [41]:
list_sum=0

In [42]:
for num in mylist:
    list_sum =list_sum + num
print(list_sum)

55

In [43]:
mystring= "hello world"

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [44]:
tup =(1,2,3)

for item in tup:
    print(item)

1
2
3

In [45]:
mylist =[(1,2),(3,4),(5,6),(7,8)]

In [46]:
len(mylist)

4

In [47]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

Tuple unpacking

In [48]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

Dictionary -- you want to access items

In [3]:
d ={'k1':1,'k2':2,'k3':3}
for item in d.items():
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [4]:
for key,value in d.items():
    print (value)

1
2
3

In [9]:
num=1
while num<=10:
    #print(f'Num is %d' % (num))
    print(f'The current value of num is {num}')
    num=num+1
else:
    print('Number is now greater than 10')

The current value of num is 1
The current value of num is 2
The current value of num is 3
The current value of num is 4
The current value of num is 5
The current value of num is 6
The current value of num is 7
The current value of num is 8
The current value of num is 9
The current value of num is 10
Number is now greater than 10

Break : Break out of the current closesnt encling loop

continue: goes to the top of the closest enclosing loop

pass: Does nothing at all

In [10]:
x= [1,2,3]

for item in x:
    #comment have to do 
    pass

print('end of script')

end of script

In [12]:
mystring='Joyalah'

for letter in mystring:
    if letter =='a':
        continue
    print(letter)

J
o
y
l
h

In [13]:
x=0

while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

Operators in python

In [14]:
mylist=[1,2,3]

In [17]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [18]:
list(range(0,11,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
index_count=0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

enumerate function

In [22]:
# enumerate works similar to tuple unpacking key,value
word= 'abcde'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

Zip function -- zip two tuple

In [23]:
mylist1 =[1,2,3]
mylist2=['a','b','c']

In [24]:
zip(mylist1,mylist2)

In [25]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [26]:
from random import shuffle

In [27]:
mylist = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
shuffle(mylist)

In [29]:
mylist

[7, 8, 2, 9, 3, 10, 6, 5, 0, 4, 1]

In [30]:
from random import randint

In [31]:
randint(0,100)

4

In [32]:
mynum=randint(0,100)

In [33]:
mynum

12

In [40]:
result=int(input('Enter a number here '))

Enter a number here 10

In [41]:
type(result)

int

List comprehension

In [42]:
mystring='hello'

In [43]:
mylist =[]

for letter in mystring:
    mylist.append(letter)

In [44]:
mylist

['h', 'e', 'l', 'l', 'o']

In [49]:
# this method is short hand of writing without writing append
mylist =[letter for letter in mystring]

In [50]:
mylist

['h', 'e', 'l', 'l', 'o']

In [47]:
mylist =[x for x in 'word']

In [48]:
mylist

['w', 'o', 'r', 'd']

In [51]:
mylist = [x for x in range(0,11)]

In [52]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
mylist = [x**2 for x in range(0,11)]

In [54]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
mylist =[x for x in range(0,11) if x%2==0] #print even number

In [56]:
mylist

[0, 2, 4, 6, 8, 10]

In [57]:
celcius =[0,10,20,34.5]

fahrenheit =[((9/5)*temp +32) for temp in celcius]

In [58]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [59]:
fahrenheit =[]

for temp in celcius:
    fahrenheit.append((9/5)*temp +32)

In [60]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [61]:
st = 'Print only the words that start with s in this sentence'

st.split()

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [62]:
st

'Print only the words that start with s in this sentence'

In [63]:
st=st.split()

In [64]:
st

['Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [65]:
for item in st:
    if item[0]=='s':
        print(item)

start
s
sentence

In [66]:
for num in range(0,11):
    if num%2==0:
        print(num)

0
2
4
6
8
10

create a list of all numbers between 1 and 50 that are divisible by 3.

In [69]:
mylist=[]
for num in range(1,51):
    if num%3==0:
        print(num)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

Go through the string below and if the length of a word is even print "even!"

In [70]:
st = 'Print every word in this sentence that has an even number of letters'

In [71]:
st=st.split()

In [77]:
for word in st:
    if len(word)%2==0:
        print(f'Even number of letters {word}')

Even number of letters word
Even number of letters in
Even number of letters this
Even number of letters sentence
Even number of letters that
Even number of letters an
Even number of letters even
Even number of letters number
Even number of letters of

Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [81]:
for num in range(1,101):
    if num%3==0 and num%5==0:
        print('FizzBuzz')
        pass
    elif num%3==0:
        print('Fizz')
    elif num%5==0:
        print('Buzz')
    else:       
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Use List Comprehension to create a list of the first letters of every word in the string below:

In [82]:
st = 'Create a list of the first letters of every word in this string'

In [83]:
mylist =[]
st= st.split()
for letter in st:
    mylist.append(letter[0])

In [84]:
letter

'string'

In [86]:
print(mylist)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

Function

In [93]:
def say_hello(name='Default'): #defult parameter if name is not provided
    print(f'hello {name}')

In [94]:
say_hello()

hello Default

In [95]:
def add_num(num1,num2):
    return num1+num2

In [96]:
add_num(10,20)

30

In [97]:
# return true if any number is even inside a list

In [102]:
def check_even_list(num_list):
    #return all even number in list
    
    #placeholder variables
    even_numbers=[]
    for number in num_list:
        if number%2==0:
            even_numbers.append(number)
        else:
            pass
    return even_numbers

In [103]:
check_even_list([1,2,3,4,5])

[2, 4]

In [101]:
check_even_list([1,3,5])

In [104]:
stock_prices= [('APPL',200),('GOOG',400),('MSFT',100)]

In [105]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [106]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [110]:
work_hours =[('Abby',100),('Billy',4000),('Cassie',800)]

In [108]:
def employee_check(work_hours):
    current_max=0
    employee_of_month=''
    
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month=employee
        else:
            pass
    
    #return
    return (employee_of_month,current_max)

In [111]:
employee_check(work_hours)

('Billy', 4000)

In [115]:
name,hours = employee_check(work_hours)  #tuple unpacking

In [116]:
name

'Billy'

In [117]:
hours

4000

In [118]:
example = [1,2,3,4,5,6,7]

In [119]:
from random import shuffle

In [120]:
shuffle(example)

In [121]:
example

[3, 7, 4, 6, 1, 2, 5]

In [122]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [123]:
result = shuffle_list(example)

In [124]:
result

[7, 4, 3, 2, 6, 1, 5]

In [125]:
mylist =['','0','']

In [126]:
shuffle_list(mylist)

['0', '', '']

In [127]:
def player_guess():
    guess=''
    
    while guess not in ['0','1','2']:
        guess= input("Pick a number: 0, 1 or 2")
    return int(guess)

In [128]:
player_guess()

Pick a number: 0, 1 or 21

1

In [129]:
myindex = player_guess()

Pick a number: 0, 1 or 22

In [130]:
myindex

2

In [144]:
def check_guess(mylist,guess):
    if mylist[guess]=='O':
        print("Correct")
    else:
        print("wrong guess")
        print(mylist)

In [146]:
#initial list
mylist =['','O','']

#shuffle list
mixedxup_list= shuffle_list(mylist)

#user guess
guess=player_guess()

#check guess
check_guess(mixedxup_list,guess)

Pick a number: 0, 1 or 21
Correct

In [1]:
mylist=[0]

#Argument and keyword argument
*args    and **kwargs

In [4]:
def myfunc(a,b):
    #return 5% of the sum of a and b
    return sum((a,b))*0.05

In [5]:
myfunc(40,60)

5.0

In [11]:
def myfunc(*args):# return as tuple
    return sum(args)*0.05

In [7]:
myfunc(40,60,100)

10.0

In [12]:
def myfunc(**kwargs): # return as dictionary
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
            print('I did not find any fruit here')

In [13]:
myfunc(fruit='apple',veggie='lettuce')

My fruit of choice is apple

In [17]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {}{}'.format(args[0],kwargs['food']))

In [18]:
myfunc(10,20,30,fruit='orange',food='eggs',animal='dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10eggs

In [47]:
def myfunc(str):
    rstr = ''
    for i in range(len(str) ):
        if i % 2 == 0 :
            # str[i].upper()
            rstr = rstr + str[i].upper()
        else:  
            #str[i].lower()
            rstr = rstr + str[i].lower()
    return rstr

In [50]:
myfunc('Joyal') # with print one letter capital and next letter lower case

'JoYaL'

In [51]:
def lesser_of_two_evens(a,b):
    #check for even
    #returns the lesser of two given numbers if both numbers are even, 
    
    #check for odd
    #but returns the greater if one or both numbers are odd
    
    if a%2==0 and b%2==0:
        smallest_number =min(a,b)
        return smallest_number
    
    if a%2!=0 or b%2!=0:
        largest_number =max(a,b)
        return largest_number

In [52]:
lesser_of_two_evens(2,4)

2

In [53]:
lesser_of_two_evens(2,5)

5

In [54]:
#Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

def makes_twenty(n1,n2):
    if n1==20 or n2==20:
        return True
    elif (n1+n2)==20:
        return True
    else:
        return False

In [55]:
makes_twenty(20,10)

True

In [57]:
makes_twenty(12,8)

True

In [58]:
makes_twenty(2,3)

False

In [120]:
# Write a function that capitalizes the first and fourth letters of a name

def old_macdonald(name):
    rstr = ''
    first_letter=0
    forth_letter=3
    for i in range(len(name)):
        if i==first_letter or i==forth_letter:
            # str[i].upper()
            rstr = rstr + name[i].upper()
            pass
        else:
                   #str[i].lower()

            rstr = rstr + name[i].lower()
    return rstr

In [121]:
old_macdonald('macdonald')

'MacDonald'

In [155]:
#Given a sentence, return a sentence with the words reversed
def master_yoda(text):
    org_string=text
    data=[]
    new_string=''
    
    data=org_string.split()
    data.reverse()
    new_string=" ".join(data)

    return new_string

In [156]:
master_yoda('I am home')

'home am I'

In [157]:
master_yoda('We are ready')

'ready are We'

In [164]:
#Given an integer n, return True if n is within 10 of either 100 or 200
def almost_there(n):
    first_range=100
    second_range=200
    if n in range(190,211):
        return True
    elif n in range(90,111):
        return True
    else:
        return False

In [167]:
almost_there(209)

True

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [227]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
   
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [228]:
has_33([1, 3, 3])

True

Given a string, return a string where for every character in the original there are three characters

In [231]:
def paper_doll(text):
    mystring=''
    for char in text:
        mystring= mystring+ char*3
    return mystring

In [232]:
paper_doll('Hello')

'HHHeeellllllooo'

In [233]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

In [242]:
def blackjack(a,b,c):
    data=[]
    data=[a,b,c]
    found_11=0
    #return sum if less than or = 21
    
    #if sum > 21 and there is 11 reduce sum by 10
    
    #if sum after adj >21 return bust
    
    total_sum=0
    total_sum_after_adjustment=0
    
    for i in data:
        if i==11:
            found_11+=1
        total_sum = total_sum+i
    
    if found_11==1:
        if total_sum>21:
            total_sum_after_adjustment=total_sum-10
    
    
    if total_sum<=21:
        return total_sum
    elif total_sum>21:
        return total_sum_after_adjustment
    elif total_sum_after_adjustment>21:
        return('BUST')

In [243]:
blackjack(9,9,9)

0

In [244]:
def blackjack(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [245]:
blackjack(9,9,9)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

In [279]:
def summer_69(arr):
    marker1=0
    marker2=0
    total=0
    for i in arr:
        if marker1==0:  
            if i==6:
                marker1+=1
                pass
            else:
                total = total + i
                
        elif marker1==1:
            if i==9:
                marker1-=1
                pass
        else:
            total = total + i
    return total

In [280]:
summer_69([1, 3, 5])

9

In [281]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [282]:
summer_69([2, 1, 6, 9, 11])

14

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [369]:
def spy_game(nums):
    data=[0,0,7]
    org_data= nums
    state=[]
    for each_num in data:
        for each_number in org_data:
            if len(state)==0 and each_number==7:
                break
            elif each_num==each_number:
                #print('now appending')
                state.append(each_num)
                break;

    if len(state)==3:
        #print(state)
        return True
    else:
        #print(state)
        return False

In [370]:
spy_game([1,0,2,4,0,5,7])

True

In [378]:
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

def count_primes(num):
    lower=0
    upper=num
    count=0

    for num in range(lower, upper + 1):
       # all prime numbers are greater than 1
       if num > 1:
           for i in range(2, num):
               if (num % i) == 0:
                   break
           else:
                #print(num)
                count=count+1
    return count

In [379]:
count_primes(100)

25

Lambda Expressions map and filter

In [1]:
def square(num):
    return num**2

In [2]:
my_nums =[1,2,3,4]

In [3]:
for item in map(square,my_nums):
    print(item)

1
4
9
16

In [4]:
list(map(square,my_nums))

[1, 4, 9, 16]

In [9]:
def splicer(mystring):
    if len(mystring)%2==0:
        return 'EVEN'
    else:
        return mystring[0]

In [6]:
name= ['Andy','Eve','Sally']

In [10]:
list(map(splicer,name))

['EVEN', 'E', 'S']

Filter FUnction

In [14]:
def check_even(num):
    return num%2==0### return only either true or false

In [12]:
mynums=[1,2,3,4,5,6]

In [15]:
list(filter(check_even,mynums))

[2, 4, 6]

In [16]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [17]:
def square(num):
    result= num**2
    return result

In [18]:
square(3)

9

In [19]:
square = lambda num: num**2   ###Lambda function

In [20]:
square(5)

25

In [22]:
list(map(lambda num: num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [23]:
list(filter(lambda num: num%2==0,mynums))

[2, 4, 6]

In [26]:
list(map(lambda name:name[::-1],name))

['ydnA', 'evE', 'yllaS']

In [27]:
x = 25

def printer():
    x=50
    return x

In [28]:
print(x)

25

In [39]:
def vol(rad):
    result = (4/3)*(3.14)*(rad**3)
    return result

In [40]:
vol(2)

33.49333333333333

In [46]:
#Write a function that checks whether a number is in a given range (inclusive of high and low)
def ran_check(num,low,high):
    if num in range(low,high+1):
        print('{} is in the range between {} and {}'.format(num,low,high))
    else:
        print('The number is outside the range.')

In [47]:
ran_check(5,2,7)

5 is in the range between 2 and 7

In [50]:
#If you only wanted to return a boolean:
def ran_bool(num,low,high):
     if num in range(low,high+1):
        return True
     else:
        return False

In [51]:
ran_bool(3,1,10)

True

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
Expected Output : 
No. of Upper case characters : 4
No. of Lower case Characters : 33
HINT: Two string methods that might prove useful: .isupper() and .islower()

If you feel ambitious, explore the Collections module to solve this problem!

In [56]:
def up_low(s):
    lower_count=0
    upper_count=0
    for letter in s:
        if letter.isupper():
            upper_count=upper_count+1
        elif letter.islower():
            lower_count=lower_count+1
        else:
            pass
    
    print("Original String : " , s )
    print('No. of Upper case characters : {}'.format(upper_count))
    print('No. of Lower case characters : {}'.format(lower_count))

In [57]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [75]:
def unique_list(lst):
    data=[]
    for item in lst:
        if item not in data:
            data.append(item)
    else:
        pass
    return data

In [76]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [83]:
def multiply(numbers):
    result=1
    for item in numbers:
        result*=item
    return result

In [84]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [85]:
def palindrome(s):
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]   # Check through slicing

In [86]:
palindrome('nurses run')

True

In [87]:
palindrome('abcba')

True

In [97]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    # Create a set of the alphabet
    
    alphaset = set(alphabet)  # all alphabet from a-z
    
    # Remove spaces from str1
    str1 = str1.replace(" ",'')
    
    print(str1)
    
    # Lowercase all strings in the passed in string
    # Recall we assume no punctuation 
    str1 = str1.lower()
    
    # Grab all unique letters in the string as a set
    str1 = set(str1)
    
    # Now check that the alpahbet set is same as string set
    return str1 == alphaset

In [98]:
ispangram("The quick brown fox jumps over the lazy dog")

Thequickbrownfoxjumpsoverthelazydog

True

In [96]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'